<a href="">
    <div class="related">
        <span class="category">NEWS</span>
        <h3 class="title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate ea delectus suscipit corrupti accusantium aut deserunt sint.</h3>
    </div>
</a>

<style>
    .related {
        width:100%
        height:200px;
        /* border-block: 2px solid rgba(0,0,0,.6) */
    }

    .category {
        padding:10px 0;
        font-weight: bold;
    }

    .title {
        font-weight: bold;
        padding: 10px 0;
        /* color: #00000080; */

        &:hover {
            color: rgb(221, 188, 126);
        }
    }
</style>